table {
    width: 700px;
    height: 130px;
}

th {
text-align: center;
}

table, th, td {
    border: 1px solid #e323cd;
    border-collapse: collapse;
}
tr, td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e8d4e6;
}
